---
import type { CollectionEntry } from 'astro:content'

interface Props {
  article: CollectionEntry<'blog'>
  lang: 'es' | 'en'
}

const { article, lang } = Astro.props
---

<article
  id='modal'
  class='bg-foreground text-background animate-fade-in-down animate-delay-700 absolute right-5 bottom-5 z-40 hidden w-[300px] space-y-1 p-3 md:block'
  role='dialog'
  aria-labelledby='new-article-title'
  aria-hidden='true'
>
  <h5 id='new-article-title' class='font-prata text-xl uppercase'>
    Articulo Nuevo
  </h5>
  <a
    class='block text-sm transition duration-200 ease-out hover:underline'
    href={`${Astro.site}${lang}/blog${article.id}`}
    aria-label={`Read more about ${article.data.title}`}>{article.data.title}</a
  >
</article>
