---
import SideNavbar from '@/components/layout/SideNavbar.astro'
import SEOHead from '@/components/SEOHead.astro'
import { getLangFromUrl } from '@/i18n/utils'
import '@/styles/index.css'
import Animations from '@/components/layout/Animations.astro'
import SideNavbarMobile from '@/components/layout/SideNavbarMobile.astro'
import ThemeSwitcherScript from '@/components/layout/ThemeSwitcherScript.astro'

interface Props {
  title: string
  className?: string
  link?: string
  label?: string
  description: string
  image?: string | undefined
  ld?: string
}

const lang = getLangFromUrl(Astro.url)
const { title, className, link, label, description, image, ld } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <SEOHead
      title={title}
      description={description}
      image={image}
      ld={ld}
      lang={lang}
    />
  </head>
  <body class='relative overflow-x-hidden bg-background text-foreground'>
    <SideNavbarMobile className={className} link={link} label={label} />
    <SideNavbar className={className} link={link} label={label} />
    <slot />
    <Animations />
    <ThemeSwitcherScript />
  </body>
</html>
