---
import Courtain from '@/components/shared/Courtain.astro'
import Layout from './Layout.astro'

interface Props {
  title: string
  className?: string
  link?: string
  label?: string
  description: string
  image?: string | undefined
  ld?: string
}

const { title, className, link, label, description, image, ld } = Astro.props
---

<Layout
  description={description}
  title={title}
  className={`${className} text-background`}
  link={link}
  label={label}
  image={image}
  ld={ld}
>
  <main
    id='page-main'
    class='relative z-10 mt-10 flex w-screen flex-col items-center justify-around gap-10 px-10 text-background md:mt-0 md:flex-row md:gap-32 md:px-24'
  >
    <slot />
  </main>
  <Courtain />
</Layout>
