---
// Astro Imports
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

// Project Imports
import Layout from "@/layouts/Layout.astro";

// Function to create the path for all the blogs
export async function getStaticPaths() {
	const posts = await getCollection("blog", ({ id }) => {
		return id.startsWith("en/");
	});
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

// Astro Props
const post = Astro.props;

// Props deconstruction
const { title, excerpt, image, imageAlt, author, date } = post.data;

// Astro Params
const slug = Astro.params.slug;

// Special function to render the content of the MD
const { Content } = await post.render();

// Redirect in case the path dosent exits
if (!slug || !post) {
	return new Response(null, {
		status: 404,
		statusText: "Not found",
	});
}

// create static page instead of SSR
export const prerender = true;
---

<Layout
  description={post.data.excerpt}
  title={post.data.title}
  className='bg-background'
  label='Blog'
  link='/es/blog'
  border='border-gray-800'>
  <main
    class='w-screen my-20 md:my-10 md:px-24 relative flex flex-col justify-center items-center gap-10 md:gap-20'>

     <!-- Header Section -->
   <section id="header" class='w-full bg-gray-800 text-center h-[600px] flex justify-center relative overflow-hidden'>
      <h1
        class='font-prata text-[6vw] text-background self-center md:self-end md:leading-[6rem] uppercase z-20'>
        {title}
      </h1>
      <div class="absolute inset-0 w-full h-full z-10 bg-gray-800 opacity-50" />
      <Image src={image} alt={imageAlt} loading='eager' class='absolute inset-0 h-full w-full object-cover' />
    </section>

    <!-- SubHeading Section -->
    <section
      id="subheader"
      class='flex w-full justify-between flex-col md:flex-row items-center px-5 gap-2 md:gap-0'>
      <strong>
        <a
          href={`${post.data.author === 'Dayana Abuin' ? 'https://www.linkedin.com/in/dayana-abuin-rios/' : 'https://www.linkedin.com/in/adrian-alvarez-alonso/'}`}
          target='_blank'
          class='hover:text-gray-700 hover:underline text-gray-950 duration-200 transition ease-out'
          rel='nofollow noopener noreferrer'>{post.data.author}</a
        >
      </strong>
      <span>
        {post.data.excerpt}
      </span>
      <strong>
        {post.data.date.toLocaleDateString()}
      </strong>
    </section>

    <!-- Content Section -->
    <section id="content" class='prose max-w-[1200px] px-5'>
      <Content />
    </section>
  </main>

  <!-- Courtin Section -->
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-50 origin-bottom'
    id='courtin'>
  </div>
</Layout>

<style>
  .hover-underline-animation-widget {
    display: block;
    position: relative;
    color: #3ba697;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3ba697;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html {
    scrollbar-color: #000000 #A3BBFB;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime({
    targets: '#courtin',
    scaleY: [1, 0],
    duration: 700,
    easing: 'easeInExpo',
  })
</script>
