---
// Astro Imports
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

// Project Imports
import Layout from '@/layouts/Layout.astro'

// Function to create the path for all the blogs
export async function getStaticPaths() {
  const posts = await getCollection('blog', ({ data }) => {
    return data.language === 'en'
  })
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post
  }))
}

// Astro Props
const post = Astro.props

// Props deconstruction
const { title, excerpt, image, imageAlt, author, date } = post.data

// Astro Params
const slug = Astro.params.slug

// Special function to render the content of the MD
const content = post.rendered

// Redirect in case the path dosent exits
if (!slug || !post) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  })
}

// create static page instead of SSR
export const prerender = true
---

<Layout
  description={post.data.excerpt}
  title={post.data.title}
  className='bg-background'
  label='Blog'
  link='/es/blog'
  border='border-gray-800'
>
  <main
    class='relative my-20 flex w-screen flex-col items-center justify-center gap-10 md:my-10 md:gap-20 md:px-24'
  >
    <!-- Header Section -->
    <section
      id='header'
      class='relative flex h-[600px] w-full justify-center overflow-hidden bg-gray-800 text-center'
    >
      <h1
        class='z-20 self-center font-prata text-[6vw] uppercase text-background md:self-end md:leading-[6rem]'
      >
        {title}
      </h1>
      <div class='absolute inset-0 z-10 h-full w-full bg-gray-800 opacity-50'>
      </div>
      <Image
        src={image}
        alt={imageAlt}
        loading='eager'
        class='absolute inset-0 h-full w-full object-cover'
      />
    </section>

    <!-- SubHeading Section -->
    <section
      id='subheader'
      class='flex w-full flex-col items-center justify-between gap-2 px-5 md:flex-row md:gap-0'
    >
      <strong>
        <a
          href={`${author === 'Dayana Abuin' ? 'https://www.linkedin.com/in/dayana-abuin-rios/' : 'https://www.linkedin.com/in/adrian-alvarez-alonso/'}`}
          target='_blank'
          class='text-gray-950 transition duration-200 ease-out hover:text-gray-700 hover:underline'
          rel='nofollow noopener noreferrer'>{author}</a
        >
      </strong>
      <span>
        {excerpt}
      </span>
      <strong>
        {date.toLocaleDateString()}
      </strong>
    </section>

    <!-- Content Section -->
    <section id='content' class='prose max-w-[1200px] px-5'>
      <div set:html={content?.html} />
    </section>
  </main>

  <!-- Courtin Section -->
  <div
    class='absolute inset-0 z-50 w-screen origin-bottom bg-gray-800'
    id='courtin'
  >
  </div>
</Layout>

<style>
  .hover-underline-animation-widget {
    display: block;
    position: relative;
    color: #3ba697;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3ba697;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html {
    scrollbar-color: #000000 #a3bbfb;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime({
    targets: '#courtin',
    scaleY: [1, 0],
    duration: 700,
    easing: 'easeInExpo'
  })
</script>
